nav button {
  background-color: hsl(0, 0%, 25%);
  padding: 18px;
  color: white;
  border: none;
}

nav button:hover {
  background-color: hsl(0, 0%, 5%);
  cursor: pointer;
}

nav {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 25%);
}